// colors

.bg-gradient-theme {
  background: linear-gradient( 0deg, rgba(26, 236, 207, 1) 0%, rgba(22, 186, 197, 1) 0%, rgba(17, 128, 186, 1) 100% );
}
.bg-gradient-theme-top {
  background: linear-gradient( 0deg, rgba(26, 236, 207, 1) 0%, rgba(22, 186, 197, 1) 0%, rgba(17, 128, 186, 1) 100% );
}
.bg-gradient-theme-left {
  background: linear-gradient( 0deg, rgba(26, 236, 207, 1) 0%, rgba(22, 186, 197, 1) 0%, rgba(17, 128, 186, 1) 100% );
}
.bg-gradient-theme-right {
  background: linear-gradient( 0deg, rgba(26, 236, 207, 1) 0%, rgba(22, 186, 197, 1) 0%, rgba(17, 128, 186, 1) 100% );
}
